<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">""</property>
        <property name="hibernate.connection.username">""</property>
        <property name="hibernate.connection.password">""</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <mapping class="me.BlockDynasty.Economy.Infrastructure.repositoryOld.Models.Hibernate.CurrencyDb"/>
        <mapping class="me.BlockDynasty.Economy.Infrastructure.repositoryOld.Models.Hibernate.AccountDb"/>
        <mapping class="me.BlockDynasty.Economy.Infrastructure.repositoryOld.Models.Hibernate.BalanceDb"/>
    </session-factory>
</hibernate-configuration>